<div class="homepage" id="scrollbar_style" cdkScrollable >

  <!-- <img src="https://drive.google.com/uc?export=view&id=1t2pg9FBEmsZ6sxe-gqttKAnCoLdrNuSz" alt="" class="Home_Button" appParallax> -->
  
  <div class="bannervideocountainer row" [ngStyle]="{'transform': 'scale(' + BannerVideoScaleValue+ ')' , 'top': BannerVideoTopValue}">
      <iframe
          src="https://player.vimeo.com/video/322980163?background=1"
          webkitallowfullscreen=""
          mozallowfullscreen=""
          allowfullscreen=""
          allow="autoplay"
          id="iframe59217"
          data-ready="true"
          class="bannervideosource col"
          [ngStyle]="{'transform': 'scale(1)'}">
  </iframe>
  </div>


  <div class="Intro_Row row" >
    <div class="col Intro_Row_Column">
      <!--<img src="https://drive.google.com/uc?export=view&id=1-x1CpXM4a48v19Nr-2lg1mzAYMB5KuvQ" alt="" class="Section1_Background">-->
      <!--<img src="https://drive.google.com/uc?export=view&id=162jN4jghrKGjJNfFNO_sm4tbqt3Ifwgq" alt="" class="Home_Logo">-->
      <!--<h5 class="Subtitle" >Global Artists. Organic Content.</h5>  -->
      <!--<img [ngStyle]="{'bottom': Parallaxer2, 'transform': 'scale(' + PlanetTopScale + ')'}" src="https://drive.google.com/uc?export=view&id=1L6Xas1zCMRyrthxmGehIuM9yGnODq0_I" alt="" class="Planet_Top">-->
      <!--<img [ngStyle]="{'bottom':Parallaxer}" src="https://drive.google.com/uc?export=view&id=1FvGsO-IW3-WlitIPSXl5nfF_GvULSkVr" alt="" class="Planet">-->
    </div>
  </div>


  <div class="Grid_Row row">
    <div class="col">
      <mat-grid-list cols="4" rowHeight="1:1"  class="Grid_List">
            <mat-grid-tile class="tile" *ngFor="let Project of ProjectIDs; index as i;" (mouseover)="MouseOverActiveIndex = i" (mouseout)="MouseOverActiveIndex = -1">
            <img src="{{GoogleBaseLink + Project}}" alt="" class="Project_Image">
            <img src="{{GoogleBaseLink + TitledProjectIDs[i]}}" alt="" class="Project_Image Titled" [ngStyle]="{'opacity': MouseOverActiveIndex != i ? '0' : '1'}">
         </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>


  <div class="Team_Row row">
    <div class="Team_Col col">
      <div class="Team_Col_Background_Wrapper">
        <img src="https://drive.google.com/uc?export=view&id=1FoedSmR_Ny520TJclPyMS04CP49IAM9t" alt="" class="Team_Col_Background_Image">
        <img src="https://drive.google.com/uc?export=view&id=1DLs6pEqOc2Is6R41r_VJsIp39847XRWb" alt="" class="Team_Col_Background_Image">
      </div>
    </div>
  </div>


  <div class="Contact_Row row">
    <div class="Contact_Col col">
      <div class="Contact_Col_Background_Wrapper">
        <img src="https://drive.google.com/uc?export=view&id=1rsGsqfPlJTf-UzYjSRduDB8_gWDeaRlY" alt="" class="Contact_Col_Background_Image">
      </div>
      <div class="Spaceship_Wrapper" #Spaceship>
          <img src="https://drive.google.com/uc?export=view&id=1Lv94eftTyfnyLgCtgSRPxkfcpSog030w" alt="" class="Spaceship_Body_Image">
          <img src="https://drive.google.com/uc?export=view&id=1HTCkgHMQFf8kZAtm3tjxioO1N-mYHzoW" alt="" class="Spaceship_Flare_Image">

      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>
	




